{% load static %}
<div class="hero-section">
    <div class="hero-image">
        <div class="hero-content container">
            <div class="hero-text">
                <h1 class="hero-title">WELCOME TO DYNAMITE MANAGEMENT</h1>
                <p class="hero-subtitle">Trusted Financial Management for Condominium and Homeowner Associations</p>
                <div class="hero-buttons mt-4">
                    <a href="https://engage.goenumerate.com/connect_login.php" class="btn btn-primary cta-button me-3">Owners' Portal</a>
                    <a href="/services/condo-financial-management/" class="btn btn-primary cta-button">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>